<form name="login" method="POST" actions="/login" class="row g-3" id="form-for-login">
  <div class="col-auto">
    <input name="email" type="email" class="form-control" id="email-login" placeholder="E-mail">
  </div>
  <div class="col-auto">
    <input name="password" type="password" class="form-control" id="password-login" placeholder="Password">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Войти</button>
  </div>
</form>
