
<h4 class="h4">This page is designed to display image data collected by NASA's Curiosity, Opportunity and Spirit rovers on Mars.</h4>

<div class="marsDiv">* Sol (in this case, it is the number of days the rover spent on Mars) (borrowed from the Latin word for sun) - is a solar day on Mars; that is, a Mars-day. A sol is the apparent interval between two successive returns of the Sun to the same meridian (sundial time) as seen by an observer on Mars. It is one of several units for timekeeping on Mars.</div>

<p class="pContainer">Choose sol and rover</p>
<p class="startContainer">
    <input type="number" name="number" class="solInput" placeholder="sol"/>
    <select class="selectForm btn btn-warning" name="rovers">
      <option name="Curiosity" value="Curiosity">Curiosity</option>
      <option name="Opportunity" value="Opportunity">Opportunity</option>
      <option name="Spirit" value="Spirit">Spirit </option>
    </select>
  <button class="startBtn btn btn-danger" >Start</button>
</p>
