<h4 class="h4">Search capability information</h4>
<div class="info">The EPIC API provides information on the daily imagery collected by DSCOVR's Earth Polychromatic Imaging Camera (EPIC) instrument. Uniquely positioned at the Earth-Sun Lagrange point, EPIC provides full disc imagery of the Earth and captures unique perspectives of certain astronomical events such as lunar transits using a 2048x2048 pixel CCD (Charge Coupled Device) detector coupled to a 30-cm aperture Cassegrain telescope.</div>

  <p class="pLow">Choose day after 10-10-2015</p>
<div class="containerPlanet">
  <form class="oneDay row g-3" id="form-for-login">
      <div class="col-auto">
        <input name="date" type="date" class="date form-control" id="password-login" placeholder="day of photography">
      </div>
      <div class="col-auto">
        <button type="submit" class="oneDayBtn btn btn-primary mb-3">Check photo on this day</button>
      </div>
    </div>
  </form>
</div>
<div class='container forAppendInformation'></div>
