<form name="registration" method="POST" actions="/registration" class="row g-3" id="form-for-reg">
  <div class="col-auto">
    <input name="email" type="email" class="form-control" id="email-register" placeholder="E-mail">
  </div>
    <div class="col-auto">
    <input name="name" type="text" class="form-control" id="name-register" placeholder="Username">
  </div>
  <div class="col-auto">
    <input name="password" type="password" class="form-control" id="password-register" placeholder="Password">
  </div>
  <div class="col-auto">
    <button type="submit" class="btn btn-primary mb-3">Зарегистрироваться</button>
  </div>
</form>
