<div class="infoEvent">
  <h4 class="h4 padding: 10px">Picture of the day</h4>
  <div class="padding: 10px">One of the most popular websites at NASA is the Astronomy Picture of the Day. In fact, this website is one of the most popular websites across all federal agencies.</div>
</div>
<div class="pContainer">
  <p class="padding: 10px">Enter the number of pictures of the day with information</p>
  <p style="padding: 10px; color=red">For optimal work, it is better to specify a time period of no more than 2 weeks</p>
</div>
<div class="containerEvent">
<form class="randomForm">
    <input type="number" name="number" class="countInput" placeholder="Number of the photo">
    <button class="btn btn-primary twoBtn">Number of photos </button>
  </form>
  
  <form class="startEndForm">
    <p>Start day photos of the day: <input name="date" type="date" class="dateStart" id="dateStart" placeholder="Start day photos of the day"></p>
      <p>End day photos of the day: <input name="date" type="date" class="dateEnd" id="dateEnd" placeholder="End day photos of the day"></p>
    <button class="btn btn-primary datesBtn">Search photos </button>
  </form>
</div>

<div class="containerForPicture"></div>